.widget-title-container {
    flex-direction: column;
    position: relative;
    background-color: $widget-background-color;
    border-radius: 5px;
    border: 2px solid $accent-color;
    padding: 20px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    margin: 10px;
    color:$text-color;

    .title{
        width:100%;
        flex-grow:1;
    }

    h2 {
        margin-bottom: 15px;
    }

    .widget-container {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
    }

}