
// Background colors
$main-background-color: #f7f7f7;
$widget-background-color: #fff;
$accent-color: #e1e3e7;

// Alert colors
$success-color: #51c25b; // Success color
$warning-color: #ffca60; // Warning color
$error-color: #f76564;   // Error color

// Background colors
$text-color: #000;